<html>
<head>
  <title>Redrudge</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-unstyled">
          {% for item in items %}
            <li>
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>
                    <a href="{{item.link}}">{{item.title}}</a>
                  </h3>
                  <p>
                    {{item.content | raw}}
                  </p>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
